
* {
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.container {
    width: 500px;
    height: 300px;
}
 header {
     text-align: center;
     margin-top: 20px;
 }

 .search-container {
     display: flex;
     margin-top: 100px;
     width: 80%;
 }

 input:focus {
     border: 1px solid #22CBA8;
     box-shadow: none!important;
 }

 .btn-outline-secondary {
     border: none;
     padding-bottom: 25px;
     border-radius: 0 5px 5px 0;
     color: #fff;
     margin-left: -15px;
     cursor: pointer;
     background: linear-gradient(top, #307bfb 0%, #0530e5 80%);
     background: -webkit-linear-gradient(top, #307bfb 0%, #0530e5 80%);
     background: -moz-linear-gradient(top, #307bfb 0%, #0530e5 80%);
     background: -o-linear-gradient(top, #307bfb 0%, #0530e5 80%);
     box-shadow: -3px 2px #001c91;

 }

 .flex-center {
     width: 500px;
     height: 300px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     padding: 30px 15px;
     background-color: transparent;
     color: white;
 }

 .card {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: transparent;
     border: none;
 }

 .image-container {
     position: relative;
     z-index: 2;
     border-radius: 50%;
     text-align: center;
 }

 img {
     width: 20%;
     padding: 60px;
 }

 .card-body {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 100px 30px 60px;
     border-radius: 10px;
     background-color: #fff;
     width: 100%;
     margin-top: -150px;
     box-shadow: 0 0 8px rgba(0,0,0,0.3);
 }

 .detail-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding:100px 30px 60px;
     border-radius: 10px;
     background-color: red;
     width: 100%;
     margin-top: -150px;
     box-shadow: 0 0 8px rgba(0,0,0,0.3);
 }

 .separator {
     border-color: #6EECB7 !important;
     border-width: 10px;
     border-radius: 5px;
 }

 .stats text-center {
     font-size: small;
 }

 #pokemon_abilities, #pokemon_moves, #pokemon_evolution {
     border: 0.3px solid;

 }